<nav class="navbar container">
    <div class="logo">
        <h1>workJamy</h1>
    </div>
    <div class="nav-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/punch">Punch Clock</a></li>
            <li><a href="/news">News</a></li>
        </ul>
    </div>
    <img src="../img/menu.png" class="nav_btn">
</nav>

<div class="container user_info_top">
    <h2 class="name_user" id="name_user">Priscila</h2>
    <h2 class="id_user" id="id_user">100001</h2>
</div>