<header>
    <nav>
        <div class="logo">

        </div>
        <div class="nav-items">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/punch">Punch Clock</a></li>
                <li></li>
            </ul>
        </div>
    </nav>
</header>