<nav class="navbar container">
    <div class="logo">
        <h1>ClockNow</h1>
    </div>
    <div class="nav-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/punch">Punch Clock</a></li>
            <li><a href="/news">News</a></li>
        </ul>
    </div>
    <img src="../img/menu.png" class="nav_btn">
</nav>