/*common screen resolutions*/
/*
1   1920×1080
2	360×800	
3	1366×768
4	1280×720
5	1536×864
6	390×844
7	412×915
8	393×873
9	360×780
10	360×640
*/

/*Tablet  601×962 through 1280×800 */
@media only screen and (min-width: 601px) {
  /* ------------- MAIN ------------- */
  .img-icon-sm {
    width: 70px;
  }
  .logo{
    margin-right: -65%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Desktop 1280×720 through 1920×1080*/
@media only screen and (min-width: 1280px) {
  .container {
    width: 80%;
  }
  /* ------------- Header ------------- */
  .nav-items {
    position: relative;
    margin: 0;
    background-color: var(--transparent-color);
    width: auto;
  }
  ul,
  li,
  a {
    display: inline;
    padding: 0px 10px;
    position: static;
  }
  a:hover {
    color: var(--emerald);
    font-weight: bold;
  }
  .logo{
    margin-right: -45%;
  }
  /* ------------- MAIN ------------- */
  .main {
    /* height: 100%; */
    padding-top: 75px;
  }
  .img-icon-sm {
    width: 90px;
  }
  .bnt-clock {
    height: 45px;
    width: 195px;
    margin-left: 25px;
  }
  .punch-img {
    margin: 30px 0;
  }
  .clock_hours>p{
    margin-left:80px;
  }
}
