*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--emerald) !important;
  color: var(--pink-light-ex);
}
.container {
  background-color: var(--blue-dark);
  margin: 0 auto;
}

/* ------------- Header ------------- */
.navbar {
  background-color: var(--orange);
  font-family: var(--font-headers-logo);
  font-size: 20px;
}
.logo {
  color: var(--red-dark);
  font-weight: var(--font-weight-logo);
  padding: 10px;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--green-pastel);
  text-align: center;
}

