*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--emerald) !important;
  color: var(--pink-light-ex);
}
.container {
  background-color: var(--blue-dark);
  margin: 0 auto;
}

hr{
  border: 1px solid var(--green-pastel);
  margin: 20px 0;
}

/*HIDE and show*/
.hide {
  display: none;
}
.show {
  display: block;
}

/* ------------- Header ------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
  font-family: var(--font-headers-logo);
  font-size: 20px;
  position: relative;
  height: 50px;
}
.logo {
  color: var(--red-dark);
  font-weight: var(--font-weight-logo);
  padding: 10px;
  margin-right: -25%;
}
.nav-items {
  background-color: var(--emerald);
  position: absolute;
  margin-top: 209px;
  width: 100%;
}
ul,
li,
a {
  color: var(--green-pastel);
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

a:hover {
  color: var(--orange);
}
.nav_btn {
  width: 30px;
}

/* ------------- MAIN ------------- */
.main {
  /* height: 100vh; */
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.main > div{
  text-align: center;
  justify-content: center;
}
.user_info_top{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: var(--emerald);
  font-size: 0.75rem;
}
.user_info_top > h2{
  padding: 0 15px;
}
.img-icon-sm {
  width: 60px;
}
.punch-img {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.bnt-clock {
  background-color: var(--beige-light);
  border: none;
  height: 30px;
  width: 100px;
  margin-left: 15px;
}

/* Hours clocked result */
.hours{
  display: flex;
  flex-wrap: wrap;
}
.clock_hours{
  width: 100%;
  text-align: left;
}
.clock_hours>p{
  margin-left: 30px;
}