*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--emerald) !important;
  color: var(--pink-light-ex);
}
.container {
  background-color: var(--blue-dark);
  margin: 0 auto;
}

/*HIDE and show*/
.hide {
  display: none;
}
.show {
  display: block;
}

/* ------------- Header ------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
  font-family: var(--font-headers-logo);
  font-size: 20px;
  position: relative;
  height: 50px;
}
.logo {
  color: var(--red-dark);
  font-weight: var(--font-weight-logo);
  padding: 10px;
}
.nav-items {
  background-color: var(--emerald-transp);
  position: absolute;
  margin-top: 209px;
  width: 100%;
}
ul,
li,
a {
  color: var(--green-pastel);
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

a:hover {
  color: var(--emerald);
}
.nav_btn {
  width: 30px;
}
