@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');


:root{
    --font-headers-logo: 'Playfair Display';
    --font-text: 'Bacasime Antique';
    --font-weight-logo: 900;
    --font-weight-headers: 700;
    --font-weight-text: 400;
}