:root{
    /* Colours pastel lights*/
    --pink: #F2BED1;
    --pink-medium: #FDCEDF;
    --pink-light: #F8E8EE;
    --pink-light-ex: #F9F5F6;
    --green: #C4DFDF;
    --green-medium: #D2E9E9;
    --green-light: #E3F4F4;
    --beige-light-ex: #F8F6F4
    /* Colours Strongs */
    

}
