<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>

    <!--Main-->
    <main class="container main">
        <div class="hours">
            <h1>Clocking</h1>
            <table>
                <tr>
                    <th>Day</th>
                    <th>Clock In</th>
                    <th>Break Start</th>
                    <th>Break Ends</th>
                    <th>Clock Out</th>
                </tr>
            </table>
        </div>



    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
</body>

</html>