<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>

    <!--Main-->
    <main class="container main">
        <h1>Clocking</h1>
        <div class="hours">
            <div class="clock_hours">
                <p id="sunday" class="day">Sunday: </p>
                <p id="clock_in" class="clock">Clock In: </p>
                <p id="break_in" class="break">Break Start: </p>
                <p id="break_out" class="break">Break Ends: </p>
                <p id="clock_out" class="clock">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="monday" class="day">Monday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="tuesday" class="day">Tuesday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="wednesday" class="day">Wednesday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="thursday" class="day">Thursday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="friday" class="day">Friday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
                <hr class="breack_line">
            </div>
            <div class="clock_hours">
                <p id="saturday" class="day">Saturday: </p>
                <p id="clock_in" class="clock_in">Clock In: </p>
                <p id="break_in" class="break_start">Break Start: </p>
                <p id="break_out" class="break_ends">Break Ends: </p>
                <p id="clock_out" class="clock_out">Clock Out: </p>
                <p id="total_hour" class="total">Total Work day: </p>
            </div>
        </div>



    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
</body>

</html>