<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>

    <!--Main-->
    <main class="container main">
        <div class="hours">
            <h1>Clocking</h1>
            <div class="clock_hours">
                <p class="day"> Day:</p>
                <p class="clock_in">Clock In:</p>
                <p class="break_start">Break Start:</p>
                <p class="break_ends">Break Ends:</p>
                <p class="clock_out">Clock Out:</p>
            </div>
        </div>



    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/header.js"></script>
</body>

</html>