<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container">
        <!--header-->
        <header>
            <%- include('../partials/header')%>
        </header>
        <!--main-->
        <main class="container">
            <p>punch section</p>
        </main>
    </div>



</body>

</html>