<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>
    <!--main-->
    <main class="container main">
        <h1>Priscila</h1>
        <div class="clock-in">
            <img src="../img/clock.svg" alt="clock-in-image" class="img-icon-sm">
            <p>Clock-In</p>
        </div>
        <div class="breack-start">
            <img src="../img/break.svg" alt="break-start-image" class="img-icon-sm">
            <p>breack-start</p>
        </div>
        <div class="breack-end">
            <img src="../img/break.svg" alt="break-end-image" class="img-icon-sm">
            <p>breack-end</p>
        </div>
        <div class="clock-out">
            <img src="../img/clock.svg" alt="clock-out-image" class="img-icon-sm">
            <p>clock-out</p>
        </div>
    </main>



    <script type="text/javascript" src="../js/header.js"></script>
</body>

</html>