<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>

    <!--main-->
    <main class="container">
        <p>punch section</p>
    </main>


</body>

</html>