<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!--header-->
    <header>
        <%- include('../partials/header')%>
    </header>
    <!--main-->
    <main class="container main">
        <p>punch section</p>
    </main>



    <script type="text/javascript" src="../js/header.js"></script>
</body>

</html>